doctype html
html.no-js(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    meta(name="description" content="")
    meta(name="viewport" content="width=device-width, initial-scale=1")

    title Build Buttercup
    link(rel="apple-touch-icon" href="apple-touch-icon.png")

    link(rel="stylesheet", href="vendor/sanitize.css")
    link(rel="stylesheet", href="assets/css/styles.css")
    style(type="text/css").
      img {
        max-width: 100%;
      }
  body
    h1 Build Me Up
    img(src="assets/images/buttercup.png", alt="buttercup")

    script(src="assets/js/app.js")
